@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.avtar {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background: rgba(219, 68, 55, 0.8);
}

.card-body {
    box-sizing: border-box;
    width: 440px;
    padding-left: 9%;
}

.avtar-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 136%;
    letter-spacing: 0.07em;
}

.avtar-post {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 136%;
    letter-spacing: 0.07em;
}

.icon-container {
    display: flex;
    justify-content: start;
    gap: 1.5rem;
    cursor: pointer;
}