.animated-box {
    height: 80px;
    width: 80px;
    position: fixed;
    border-radius: 25% 75% 24% 76%/71% 32% 68% 29%;
    -webkit-animation: falling 10s cubic-bezier(.04,.34,.58,.82) infinite;
    animation: falling 10s cubic-bezier(.04,.34,.58,.82) infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    background-color: #ed4b3d;
    z-index: -1;
    box-shadow: 0 0 8px 2px rgb(237 75 61 / 45%);
    top: -20%;
    right: 7%;
}
.circles {
    background: #ea4335;
    webkit-animation: a 1s infinite;
    -moz-animation: a 1s infinite;
    animation: a 1s infinite;
    background: #ea4335;
    position: absolute;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
    overflow: hidden;
    border-radius: 50%;
}
.circle3 {
  webkit-animation: header-swing 5s infinite;
  -moz-animation: header-swing 5s infinite;
  animation: header-swing 5s infinite;
    left: 25%;
    top: 52px;
    height: 100px;
    width: 100px;
    opacity: 1;
    background: #4285f4;
  }
  .circle1 {
    webkit-animation: header-swing 5s infinite;
    -moz-animation: header-swing 5s infinite;
    animation: header-swing 5s infinite;
    height: 90px;
    width: 90px;
    opacity: 1;
    left: -5%;
    top: 66%;
    background: #ea4335;

}
.circle4 {
  webkit-animation: header-swing 5s infinite;
  -moz-animation: header-swing 5s infinite;
  animation: header-swing 5s infinite;
    height: 60px;
    width: 60px;
    opacity: 1;
    right: 15%;
    top: 61%;
    background: #0f9d58;
}
.circle2 {
  webkit-animation: header-swing 5s infinite;
  -moz-animation: header-swing 5s infinite;
  animation: header-swing 5s infinite;
    height: 150px;
    overflow: hidden;
    width: 150px;
    opacity:1;
    right: -0px;
    top: -50px;
    background: #f4b400;
}


@media (max-width: 900px){
  * {
    overflow-x: hidden;
  }
  .circles.circle3 {
  left: 18%;
  top: 52px;
  height: 150px;
  width: 150px;
  opacity: 0.3;
  background: #4285f4;
}
.circle1 {
  height: 210px;
  width: 210px;
  opacity: 0.3;
  left: -17%;
  top: 49%;
  background: #ea4335;
}
.circle2 {
    height: 150px;
    overflow-x: hidden;
    width: 150px;
    opacity: 0.3;
    right: 20px;
    top: -50px;
    background: #f4b400;
  }
}
@keyframes header-swing {
  0% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
}
50% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    transform: translateY(30px);
}
100% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
}
}
