.wow{
    position: fixed;
    margin-top: 80vh;
    margin-left: 88vw;
}

.wow-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    padding: 20px;
}
.wow-button{
    text-decoration: none;
    color:blue;
    font-size: 18px;
}
.cancel{
    margin-top: 14px;
    margin-right: 13px;
}

@media (max-width: 700px){
    .wow-card{
        width: 80vw;
        font-size: 16px;
        word-wrap: break-word;
    }
}