.avtar {
    width: 95px;
    height: 90px;
    border-radius: 50%;
    overflow-y: hidden;
    padding:5px
}


.profile-card {
  width: 30vw;
  height: 20vh;
}
.avtar-title {
    font-size: 14px;

    color:#4285F4
}

.avtar-post {
    font-size: 14px;

}

.icon-container {
    display: flex;
    justify-content: start;
    gap: 1.2rem;
    cursor: pointer;
}
