.logo{
  position: absolute;
  width: 20%;
  top: -10%;
  
}
.home{
  position: absolute;
  left: 65%;
  color: grey;
  font-weight: bold;
  font-size: 20px;
  text-decoration: grey;
  margin-top: 2%;
} .home:hover{color: steelblue;}

.team{
  position: absolute;
  left: 72%;
  color: grey;
  font-weight: bold;
  font-size: 20px;
  text-decoration: grey;
  margin-top: 2%;
}.team:hover{color: steelblue;}

.contact{
  position: absolute;
  left: 79%;
  color: grey;
  font-weight: bold;
  font-size: 20px;
  text-decoration: grey;
  margin-top: 2%;
}.contact:hover{color: steelblue;}

.butn{
  position: absolute;
  left: 88%;
  color:white;
  font-weight: lighter;
  font-size: 15px;
  margin-top: 1.5%;
  background-color: blue;
  width: 7%;
    height: 7%;
    border-style: hidden;
    border-radius: 6px;
}.butn:hover{background-color: steelblue;}
.topic{
  position: absolute;
  margin-top: 25%;
  left: 8%;
  font-weight: bolder;
  color: grey;
  font-size: 20px;
}
.events{
  position: absolute;
  margin-top: 15%;
  left: 8%;
  font-weight: bolder;
  color:steelblue;
  font-size: 30px;
}
.evnt{
  position: absolute;
  left: 60%;
  top: 40%;
}
.sendp{
  position: absolute;
  margin-top: 55%;
  left: 8%;
  font-weight: bolder;
  color: grey;
  font-size: 30px;
  color: steelblue;
}
.propo{
  position: absolute;
  margin-top: 59%;
  left: 8%;
  font-weight: bolder;
  color: grey;
  font-size: 20px
}
.butn2{
  position: absolute;
  margin-top: 10%;
  left:-.2% ;
  background-color: blue;
  color: white;
  width: 150px;
  height: 60px;
  border-radius: 6px;
  border-style: hidden;
}.butn2:hover{background-color: steelblue;}